body{
  background-image: url("../img/fond.svg");
  font-family:Cambria;
}

/* Portofino Bold */
.portofino-bold {
  font-family: 'PortofinoBold', sans-serif;
  /* Remplacez 'PortofinoBold' par la police réelle que vous utilisez */
  font-weight: bold; /* Assurez-vous que la police spécifiée est en gras */
}

/* Montserrat Regular */
.montserrat-regular {
  font-family: 'MontserratRegular', sans-serif;
  /* Remplacez 'MontserratRegular' par la police réelle que vous utilisez */
  font-weight: normal; /* Assurez-vous que la police spécifiée est normale (non grasse) */
}

/* Montserrat Medium */
.montserrat-medium {
  font-family: 'MontserratMedium', sans-serif;
  /* Remplacez 'MontserratMedium' par la police réelle que vous utilisez */
  font-weight: 500; /* Assurez-vous que la police spécifiée a un poids moyen (medium) */
}


/* Boutons header */
/* Style pour les boutons du header */
.header-button {
    text-decoration: none; /* Supprimer le soulignement des liens */
    background: none; /* Supprimer l'arrière-plan */
    border: none; /* Supprimer les bordures */
    color: #000; /* Couleur du texte noir */
    font-size: 18px; /* Taille de police plus grande */
    margin: 5px; /* Espacement entre les boutons */
}

.header-button:hover {
    color: rgb(192, 173, 143); /* Couleur du texte au survol */
}


#logo {
    width: 10vw;
    display: inline-block;
    vertical-align: middle;

}
#logo-container {
    text-align: center;
}




.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px; /* Marge à gauche de l'écran */
    margin-right: 0px; /* Marge à droite de l'écran */
    padding-top: 4vh;
}

#lang-toggle {
    margin-left: 20px; /* Marge entre le bouton de langue et les boutons de droite */
}

/* Page accueil */
#accueil {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}


/* Styles pour la version desktop par défaut */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




/* ... Vos styles existants ... */

/* Styles pour le menu burger et le logo sur mobile */
#burger-menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#mobile-logo-container {
  display: none;
  text-align: center;
}

#mobile-logo {
  width: 80px; /* Ajustez la taille du logo selon vos besoins */
}

/* Styles pour le menu mobile */
#mobile-buttons {
  margin-top: 5%;
  display: none;
  background-color: #eee; /* Fond gris */
  padding: 10px; /* Ajoutez un espacement intérieur */
  width: 70%; /* Définissez la largeur à 70% */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
}

/* Utilisez block pour chaque élément à l'intérieur de #mobile-buttons */
#mobile-buttons button {
  display: block;
  margin-bottom: 10px; /* Ajoutez un espacement entre les éléments si nécessaire */
}

/* Media query pour cacher le menu mobile en mode desktop */
@media screen and (min-width: 781px) {
  #mobile-buttons {
    display: none !important; /* Cache le menu mobile */
  }
}


/* Affichez le menu burger et le logo sur mobile avec une media query */
@media screen and (max-width: 780px) {
  /* Cacher le menu desktop */
  .header-buttons-left, .header-buttons-right, #logo-container {
      display: none;
  }

  /* Afficher le logo mobile */
  #mobile-logo-container {
      display: block;
      align-items: center;
      margin-top: 5%;
  }

  /* Afficher le menu burger */
  #burger-menu-icon {
      display: block;
      margin-right: 10%;
      margin-top: 6%;
  }

  /* ... Styles pour le reste du menu mobile ... */
}

/* Styles pour le menu mobile lorsqu'il est ouvert */
#mobile-buttons.show-mobile {
  display: block;
}
#logo-mobile{
  width: 30%;
}
#burger-mobile{
  width: 90%;
}








/* Barre de chargement */
#loading-container {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 60vh; /* 60% de la hauteur de l'écran */
    background-color: rgb(239, 224, 190);
    border-radius: 10px; /* Arrondir les bords */
}

#loading-bar {
    height: 0;
    width: 100%;
    background-color: #0e2338;
    transition: height 1s;
    border-top-left-radius: 10px; /* Arrondir les bords */
    border-top-right-radius: 10px; /* Arrondir les bords */
    position: relative; /* Positionnement relatif pour les éléments enfants */
    overflow: hidden; /* Cacher le contenu qui dépasse */
    border-radius: 10px; /* Arrondir les bords */
  }

#current-time {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    padding: 10px;
}





/* Styles pour la deuxième section */
#deuxiemeSection {
  width: 100%;
  overflow: hidden;
}

#deuxiemeSection .row {
  margin: 0;
}

#deuxiemeSection .col-4 {
  padding: 0;
}

#deuxiemeSection img {
  width: 100%;
  height: auto;
}




/* Media query pour les écrans de moins de 780px de large */
@media screen and (max-width: 780px) {
  #deuxiemeSection .col-4 {
    width: 100%;
    margin: 0; /* Supprimer toutes les marges */
    padding: 0; /* Supprimer tout le padding */
  }

  #deuxiemeSection img {
    width: 100%;
    height: 40vh; /* Utiliser une valeur relative pour définir la hauteur */
    object-fit: cover;
  }
}







/* Footer */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }